<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Accueil</a>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/docs">Vers la documentation
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1>{{ heading }}</h1>

    <form method="post" action="/resultats">
      <fieldset>
        <div>
          <label for="message" class="form-label mt-4">Votre message : </label>
          <textarea class="form-control" id="message" name = "message" rows="3"></textarea>
        </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </fieldset>
    </form>
</body>
</html>
